.env
phpunit.xml
.phpunit.result.cache
.idea/
doctrine.sql
vendor/
config/development.config.php
data/cache/*
data/DoctrineModule
data/DoctrineORMModule
data/temp
data/files/monitoringFulfillmentDocuments/*
data/rabbitmq
!data/cache/.gitkeep
public/node_modules
public/dist
